<a href="#trustpilot-slider">
<div class="trustpilot-above-title">
  <span class="reviews">
    <img src="https://cdn.shopify.com/s/files/1/0549/0117/8598/files/stars-4.5.svg?v=1662112912">
    <span class="product_review_content"><b>4.7/5 Excellent</b> Basé sur 1067 avis</span>
  </span>
</div>
</a>

<style>
.reviews {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: system-ui;
  font-size: 13px;
}
.reviews img {
  width: 90px;
  position: relative;
  margin-right: 1px;
}
.reviews a {
  text-decoration: underline;
  color: black;
}
.trustpilot-above-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  margin-bottom: 10px;
}
  @media (max-width: 767px) {
    .trustpilot-above-title {
  display: flex;
  flex-direction: row;
  align-items: center;
      justify-content: center;
  color: black;
  margin-bottom: 15px;
}
  }
</style>