<div style="color:black; margin-top: -20px;" class="flex-div-wrapper">
<div class="flex-div">
{% if product.available %}
<span style="margin-right: 19px; margin-left: 6px;" class="green-dot"></span>
<span>Limited stock - <strong>5 pcs available!</strong></span>
{% else %}
<span style="margin-right: 19px; margin-left: 6px;" class="yellow-dot"></span>
<span style="color: black">Sold out</span>
{% endif %}
</div>
</div>


<style>
@keyframes greendot {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.5);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
	}
}

@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(244, 175, 41, 0.5);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(244, 175, 41, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(244, 175, 41, 0);
	}
}
  .flex-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .flex-div-2 {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; 
    color: black;
    margin-top: 8px;
  }
  .flex-div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .green-dot {
  background: orange;
  height:12px;
  width:12px;
  border-radius:20px;
  animation: greendot 2s linear infinite;
  transform: scale(1);
  }
  .yellow-dot {
  background: #f4af29;
  height:12px;
  width:12px;
  border-radius:20px;
  animation: pulse-yellow 2s linear infinite;
  transform: scale(1);
  }

  @media only screen and (max-width: 769px){
     .flex-div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 7px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  }
</style>