<div id="list_kosptorm">
  <span id="title">Our guarantee</span>
  <ul>
    <li><b>Are you not satisfied?</b> Then you get your money back! We stand behind our products 100%, which is why we offer a "money back guarantee": 30 days after receiving the product you have the right to return it.</li>
    <li><b>Contact us</b> - We will help you make the right choice. Our customer service is available 24/7 to answer all your questions.</li>
    <li><b>Free shipping</b> - Because we think it is important to keep your costs as low as possible, we always offer free shipping within Australia and New Zealand.</li>
  </ul>
</div>

<style>
  
  #title {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  #list_kosptorm ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: var(--typeBaseSize);
    padding-left: 0px;
    margin-left: 20px;
  }
  
  #list_kosptorm {
        margin-bottom: 35px;
    margin-top: 35px;
  }

  @media screen and (max-width: 767px) {

    
  }
</style>
