<div id="payment-icons2">
  <img src="https://cdn.shopify.com/s/files/1/0753/8291/5410/files/1_6d230d24-57ef-4b94-b16d-f7b0e62218e3.png?v=1702931533">
  <img src="https://cdn.shopify.com/s/files/1/0753/8291/5410/files/2_f871aaed-7b88-44a3-81d4-b412a0a9fb8b.png?v=1702931533">
  <img src="https://cdn.shopify.com/s/files/1/0753/8291/5410/files/3_0760262c-36ab-42bc-b880-3599a1bb999c.png?v=1702931809">
  <img style="background: #026fd1;" src="https://cdn.shopify.com/s/files/1/0753/8291/5410/files/4_a009b50c-a417-42fc-b65a-799f9298b6c6.png?v=1702932011">
  <img src="https://cdn.shopify.com/s/files/1/0753/8291/5410/files/5_365e8c89-c76c-41f7-913d-edeb50f44a97.png?v=1702932011">
</div>

<style>
  #payment-icons2 img {
        width: 70px;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 3px 10px;
  }
  #payment-icons2 {
        display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 20px 0px;
  }

  @media screen and (max-width: 767px) {

   #payment-icons2 img {
        width: 57px;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 3px 10px;
  } 
    #payment-icons2 {
        display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: 20px 0px;
  }
  }
</style>