{{ 'kopstorm.css' | asset_url | stylesheet_tag }}

<div class="verified-badge-wrapper">
<img src="https://cdn.shopify.com/s/files/1/0611/7461/2186/files/verified-badge.svg?v=1676968204" loading="lazy" alt="" class="verified-icon">
<div class="verified-text">Geverifiëerd</div>
</div>